<div class="upcoming__info">
     <img src="https://image.tmdb.org/t/p/original/{{backdrop_path}}" alt="{{original_title}}" loading="lazy" />
     <h3 class ="upcoming__movie-title"><span class="upcoming__item-font-title">{{original_title}}</span></h3>
     <ul class="upcoming__list">
     <li class ="upcoming__item"><span class="upcoming__item-font">Release date </span>{{release_date}}</li>
     <li class ="upcoming__item"><span class="upcoming__item-font">Vote/Votes </span>{{vote_average}}/{{vote_count}}</li>
     <li class ="upcoming__item"><span class="upcoming__item-font">Popularity </span>{{popularity}}</li>
     <li class ="upcoming__item"><span class="upcoming__item-font">Genre </span>{{genre_ids}}</li>
     </ul>
     <p class ="upcoming__movie-about">About</p>
     <p class="upcoming__item-font-about">{{overview}}</p>
     </div>